:root{
--StrongCyan: hsl(171, 66%, 44%);
--LightBlue: hsl(233, 100%, 69%);
--DarkGrayishBlue: hsl(210, 10%, 33%);
--GrayishBlue: hsl(201, 11%, 66%);
}
@font-face {
    font-family: 'cairo';
    src: url(BaiJamjuree-BoldItalic.ttf);
}
@font-face {
    font-family: 'cairo';
    src: url(BaiJamjuree-ExtraLight.ttf);
}
@font-face {
    font-family:'cairo' ;
    src: url(BaiJamjuree-Bold.ttf);
}
@font-face {
    font-family: 'cairo';
    src: url(BaiJamjuree-ExtraLightItalic.ttf);
}
@font-face {
    font-family: 'cairo';
    src: url(BaiJamjuree-MediumItalic.ttf);
}
@font-face {
    font-family: 'cairo';
    src: url(BaiJamjuree-Regular.ttf);
}
@font-face {
    font-family: 'cairo';
    src: url(BaiJamjuree-SemiBold.ttf);
}
@font-face {
    font-family: 'cairo';
    src: url(BaiJamjuree-SemiBoldItalic.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'cairo';
}
body{
    width: 100%;
    min-height: 100vh;
    text-align: center;
}
body header{
    background: url(images/bg-header-mobile.png);
    background-position: center;
    background-size: cover;
    padding: 40px;
}
body header .logo img{
    margin: 30px 0px;
}
body header .text h1{
    color: var(--DarkGrayishBlue);
}
body header .text p{
    color: var(--GrayishBlue);
    margin: 25px 0px;
}
body header .links a{
    display: block;
    margin: 25px 0px;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 20px;
}
body header .links :first-child{
    background-color: var(--StrongCyan);
}
body header .links :nth-child(2){
    background-color: var(--LightBlue);
}
body .details{
    padding: 50px;
}
body .details .details-text :first-child{
    color: var(--DarkGrayishBlue);
    margin-bottom: 15px;
}
body .details .details-text :nth-child(2){
    color: var(--GrayishBlue);
    margin-bottom: 50px;
}
body .details .details-device .device-img img{
    width: 100%;
    margin-bottom:50px;
}
body .details .device-secs .sec{
    margin: 35px 0px;
}
body .details .device-secs .sec :first-child{
    color: var(--DarkGrayishBlue);
    margin-bottom: 10px;
}
body .details .device-secs .sec :nth-child(2){
    color: var(--GrayishBlue);
}
body .clipboard{
    padding: 50px;
}
body .clipboard :first-child{
    color: var(--DarkGrayishBlue);
    margin-bottom:15px;
}
body .clipboard :nth-child(2){
    color: var(--GrayishBlue);
    margin-bottom: 50px;
}
body .clipboard img{
    width: 100%;
}
body .charge{
    padding: 55px;
}
body .charge .charge-text :first-child{
    color: var(--DarkGrayishBlue);
    margin-bottom: 15px;
}
body .charge .charge-text :nth-child(2){
    color: var(--GrayishBlue);
    margin-bottom: 50px;
}
body .charge .charge-details .charge-secs .sec{
    margin: 40px 0px;
}
body .charge .charge-details .charge-secs .sec :nth-child(2){
    color: var(--DarkGrayishBlue);
    margin: 25px 0px;
}
body .charge .charge-details .charge-secs .sec :nth-child(3){
    color: var(--GrayishBlue);
}
body .charge .charge-imgs img{
    display: block;
    margin: 45px auto;
}
body .Download .download-text{
    padding: 60px;
}
body .Download .download-text h2{
    color: var(--DarkGrayishBlue);
}
body .Download .download-text p{
    color: var(--GrayishBlue);
    margin: 25px 0px;
}
body .Download .download-links a{
    display: block;
    margin: 25px 45px;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 20px;
}
body .Download .download-links :first-child{
    background-color: var(--StrongCyan);
}
body .Download .download-links :nth-child(2){
    background-color: var(--LightBlue);
}
body footer{
    background-color: #e6e5e5;
    padding: 40px;
}
body footer .logo img{
    width: 50px;
}
body footer .links{
    margin: 20px 0px;
}
body footer .links a{
    display: block;
    text-decoration: none;
    color: var(--DarkGrayishBlue);
    margin: 20px 0px;
}
body footer .social img{
    margin: 0px 10px;
}
@media (min-width:1000px){

body header .text , body header .links {
    width: 45%;
    margin: 0 auto;
}
body header .text{
    margin-bottom: 50px;
}
body header .links a{
    display: inline;
    margin: 0px 10px;
    padding: 10px 25px;
}
body .details .details-text{
    width: 39%;
    margin: 0 auto;
}
body .details .details-device{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body .details .details-device .device-img{
    width: 40%;
}
body .details .details-device .device-secs{
    text-align: left;
    width: 35%;
    margin: 0 auto;
}
body .details .details-device .device-secs .sec{
    margin: 35px 0px;
}
body .clipboard{
    width:45%;
    margin: 0 auto;
}
body .charge .charge-secs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
body .charge .charge-secs .sec{
    width: 28%;
}
body .charge .charge-imgs img{
    display: inline;
    margin:0px 40px;
}
body .Download{
    width: 60%;
    margin: 50px auto;
    padding: 50px 0;
}
body .Download .download-links a{
    display: inline;
    margin: 0px 10px;
    padding: 10px 25px;
}
body footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body footer .links{
    width: 30%;
    text-align: left;
    line-height: 35px;
}
body footer .links a{
    display: inline;
    margin: 0px 20px;
}
}